@CHARSET "UTF-8";

body{
	background:#fff;
}

#homeerr{
	width:900px; 
	height:auto;
	margin:8% auto;
	background:#fff;
	padding:35px 50px;
	overflow:hidden;
}

#homeerr span a{
	color:#19b4ea;
}

#homeerr a{
	font:16px "microsoft yahei";
	color:#fff;
	text-decoration:none;
}

#homeerr a:hover{
	color:#19b4ea;
	text-decoration:underline;
}

#homeerr p{
	font:16px "microsoft yahei";
	color:#333;
}

#homemaincont{
	width:1000px;
	margin:0 auto;
	margin-bottom:40px;
}
	
.cl::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

#local{
    background: transparent none repeat scroll 0 0;
    border: medium none;
    height: 30px;
    line-height: 29px;
    margin: 10px 0 2px;
    padding-left: 0;
}

#local .z {
    padding-right: 10px;
    width: 100%;
}

.z{
	float:left;
}

#local .z span,#local .z a{
	color:#515151;
	font:16px "microsft yahei";
}

#local .z a.line:hover{
	color:#19b4ea;
	text-decoration:underline;
}

#ct{
	min-height:400px;
	width:1000px;
	overflow:hidden;
}

.setitem{
	border: 1px solid #ccc;
}

#homeleftmenu{
	width:130px;
	padding:10px;
	min-height:400px;
	height:auto;
	background:#e5edf2;
	float:left;
	border-right:1px solid #ccc;
}

.chleft{
	margin: 0 10px 10px -10px;
	padding: 0 10px;
	width: 130px;
	border-bottom:1px solid #e4e7e9;
}

.chleft h2 {
  color: #444;
  font: 18px "microsft yahei";
  margin-bottom:0 10px;
  margin-top: 0;
  height:18px;
}

#homeitems{
	margin: 0 10px 10px -10px;
	//padding: 0 10px;
	width: 150px;
}

#homeitems li{
	display:block;
	width:130px;
	height:40px;
	padding:0 10px;
}

#homeitems li a{
	font:16px/40px "microsft yahei";
	color:#666;
	width:130px;
	height:40px;
	display:block;
	border-bottom: 1px dashed #ccc;
}

#homeitems li a:hover{
	color:#333;
}

#homeitems li.hover{
	background:#fff;
	width:151px;
}

#rhomecont{
	float:left;
	margin-left:50px;
	height:auto;
	width:770px;
	min-height:400px;
	padding:10px;
	//background:#f2f2f2;
}

#rhomecont ul{
	border-bottom: 1px solid #ccc;
    height: 31px;
    margin: 0 auto;
    //overflow: hidden;
    padding: 0 10px;
    width: 730px;
}

#rhomecont ul li{
	display:block;
	float:left;
	height:20px;
	width:auto;
	padding:5px 10px;
	background:#e5edf2;
	margin-right:10px;
	border:1px solid #ccc;
}

#rhomecont ul li.csth{
	border-bottom:1px solid #fff;
	background:#fff;
}

#rhomecont ul li a{
	color:#666;
	font:16px "microsoft yahei";
	text-decoration:none;
}

#rhomecont ul li a:hover{
	color:#333;
}

#rhomecont .cpcont{
    height: auto;
    margin: 0 auto;
    padding: 10px;
    width: 730px;
}

#rhomecont .cpcont table th{
	width:80px;
	text-align:right;
	padding:10px;
	font:16px "microsoft yahei";
	color:#666;
}

#rhomecont .cpcont table td{
	padding:5px;
}

#rhomecont .cpcont table td input{
	width:300px;
	height:20px;
	text-align:left;
	padding:7px 10px;
	font:15px "microsoft yahei";
	color::#666;
	border:1px solid #ddd;
}

#rhomecont .cpcont table td input:focus{
	border:1px solid #19b4ea;
}

#rhomecont .cpcont table td select{
	width:90px;
	height:35px;
	font:15px/35px "microsoft yahei";
	color::#666;
}

#rhomecont .cpcont table td textarea{
	width:300px;
	height:100px;
	padding:7px 10px;
	font:15px "microsoft yahei";
	color::#666;
	border:1px solid #ddd;
}

#rhomecont .cpcont table td textarea.likes{
	height:60px;
}

#rhomecont .cpcont table td textarea:focus{
	border:1px solid #19b4ea;
}

#upbtn{
	width:80px;
	height:30px;
	font:16px "microsoft yahei";
	background:#19b4ea;
	text-align:center;
	border:1px solid #3CF;
	color:#fff;
	margin:20px 150px;
	cursor: pointer;
}

#mailchoose{
	position:relative;
}

#mailchoose ul.on_changes{
	width:300px; 
	position:absolute; 
	margin-top:14px; 
	list-style:none; 
	background:#FFF; 
	border:1px solid #ccc; 
	display:none; 
	padding:10px;
	height:auto;
}

#mailchoose ul.on_changes a{
	margin:8px;
	padding:4px;
	font-size:18px;
}

#mailchoose ul.on_changes li{
	margin:8px;
	padding:4px;
	background: #fff;
	border:none;
	float: none;
	width: auto;
}

#mailchoose ul.on_changes li.active{ 
	background:#CEE7FF;
}

.topc{
	padding:10px 0;
	height:auto;
	border-bottom:1px solid #ddd;
}

.topc p,.bottomc span{
	padding:10px;
	color:#666;
	font:16px "microsoft yahei";
}

.bottomc{
	padding:10px 0;
	height:auto;
}

.bottomc h2{
	padding:0 0 0 10px;
	margin:0 0 10px 0;
	font:20px "microsoft yahei";
}

.xg1,.xg1 a {
	color: #999 !important;
}

.tbmu {
  border-bottom: 1px dashed #e4e7e9;
  padding: 8px 10px 8px 0;
}

.buddy {
  margin: 0 -4px 10px -2px !important;
  border-bottom: none !important;
  height: auto;
  padding: 0 !important;
  width: auto !important;
}

.cl::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.buddy li {
  height: 75px;
}

.buddy li {
  padding: 0 !important;
  background: #f9f9f9 none repeat scroll 0 0 !important;
  border: 1px solid #f3f3f3 !important;
  display: inline !important;
  float: left;
  height: 58px !important;
  margin: 10px 5px 0 !important;
  overflow: hidden;
  padding: 10px 10px 10px 70px !important;
  width: 152px !important;
}

.buddy .avt {
  margin-left: -60px;
  position: absolute;
}

.bbda a {
  color: #00a7ea !important;
  font: 14px "microsoft yahei" !important;
}

.avt img {
  margin-top: 5px;
}

.avt img {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: #fff none repeat scroll 0 0;
  border-color: #f2f2f2 #e4e7e9 #e4e7e9 #f2f2f2;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  height: 48px;
  padding: 2px;
  width: 48px;
}

.bbda img {
	margin-left: 0
}

.brs, .avt img, .oshr {
  border-radius: 5px;
}

a img {
  border: medium none;
}

.buddy h4 {
  height: 20px;
  overflow: hidden;
}

.bbda a {
  color: #00a7ea;
}

.buddy .maxh {
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 175px;
  padding: 5px !important;
}

.bbda h4 {
	font: inherit;
}
.add_ul {
  width: 185px;
}

.xg1, .xg1 a {
  color: #999;
}

.pipe {
  color: #ccc;
  margin: 0 5px;
}

.nts {
  //padding-left: 20px;
}

.cl::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.cl::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.nts dl {
  border-bottom: 1px dashed #e4e7e9;
}

.xlda dl {
  //padding-left: 65px;
}

.xlda .m {
  display: inline;
  margin: 8px 0 8px -65px;
}

.xld .m {
  float: left;
  margin: 8px 8px 10px 0;
}

.xld dd {
  margin-bottom: 8px;
}

.mbn {
  margin-bottom: 5px;
}

.xlda dd a {
  color: #00a7ea;
}

.xlda .avt img {
  display: block;
}

.xlda dd img {
  max-width: 550px;
}

.xld dt {
  font-weight: 700;
  padding: 15px 0 14px;
}

.xld a.b {
  background-position: 0 -40px;
}

.xw0 {
  font-weight: 400;
}

.xg1, .xg1 a {
  color: #999;
}

.xlda dd a {
  color: #00a7ea;
}











