@CHARSET "UTF-8";
body{
	background-color:#fafafa ;
}

.reindex{
	display:block;
	font:18px "microsoft yahei"; 
	color:#666;
	width:120px;
	height:60px;
	//border:1px solid #eee;
	//border-radius:8px;
	text-align:center;
	line-height:56px;
	margin-top:10px;
	//background-color:#eee;
}

.reindex:hover{
	color:#19b4ea;
	//border:1px solid #19b4ea;
}

.right_bar {
  margin-top: 200px;
}

#searchpanel {
  border-bottom: medium none;
  height: auto;
  margin: 10px auto;
  min-height: 768px;
  padding: 0 15px;
  text-align: center;
  width: 960px;
}

#logopic{
	//margin:30px auto;
}

.input_w{
	margin:40px auto;
	width:640px;
	height:50px;
	border:1px solid #19b4ea;
	border-radius:6px;
	text-align:center;
}

.sach{
	float: left;
    display: block;
    outline: medium none;
    width: 532px;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    color: #666;
    font: 20px "microsoft yahei";
    background: #fafafa;
}

.scbtn{
	float:left;
	//margin:8px 0;
	display:block;
	width:88px;
	height:50px;
	color:#fff;
	font:22px "arial";
	line-height:50px;
	background-color:#19b4ea;
	//border:1px solid #ccc;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}

#toolway {
  margin: 5px 0px 10px 158px;
  width: 640px;
  text-align:center;
}

#toolway a{
	float:left;
	display:block;
	font:18px "microsoft yahei"; 
	color:#666;
	width:90px;
	height:28px;
	text-align:left;
}

#toolway a.author{
	width:60px;
}

#toolway a.great{
	float:right;
	text-align:right;
	color:#000;
}

#toolway a.quicks{
	color:#666;
	cursor: pointer;
}

#qsc{
	width:160px;
	height:auto;
	padding:10px;
	background:#fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	border-radius:5px;
	position: absolute;
	//margin-top: 28px;
	top:220px;
	margin-left: 576px;	
}

#qsc ul li{
	display:block;
	padding:5px;
	text-align: left;
}

#qsc ul li:hover{
	background:#e5edf2;
}

#qsc ul li a{
	font:18px "microsoft yahei";
	color:#666;
}

#qsc ul li a:hover{
	color:#00a7ea;	
}

#tabs0 {
	margin-bottom:30px;
	margin:10px auto;
    border: 1px solid #bbb;
    height: 2800px;
    width: 1000px;
}

#menu0 {
    width: 1000px;
}

#menu0 li {
    background: none repeat scroll 0 0 #ffffff;
    border-bottom: thin solid #19b4ea;
    cursor: pointer;
    display: block;
    float: left;
    padding: 15px 0;
    text-align: center;
    width: 250px;
}

#menu0 li.hover {
    background: none repeat scroll 0 0 #19b4ea;
    color:#fff;
}

#main0 ul {
    display: none;
}

#main0 ul.block {
    display: block;
}

.CollapsiblePanel {
	margin: 0px;
	padding: 0px;
	width:auto;
//	border-left: solid 1px #CCC;
//	border-right: solid 1px #999;
//	border-top: solid 1px #999;
	border-bottom: solid 1px #CCC;
}

.CollapsiblePanelTab {
	font:1em "microsoft yahei";
	background-color: #fff;
	text-align:center;
//	border-bottom: solid 1px #CCC;
	margin: 0px;
	padding: 2px;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
}

.CollapsiblePanelContent {
	margin: 0px;
	padding: 0px;
}

.CollapsiblePanelTab a {
	color: black;
	text-decoration: none;
}

.CollapsiblePanelOpen .CollapsiblePanelTab {
	color:#19b4ea;
}

.CollapsiblePanelClosed .CollapsiblePanelTab {
 /* background-color: #EFEFEF */
}

.CollapsiblePanelTabHover,  .CollapsiblePanelOpen .CollapsiblePanelTabHover {
	//background-color: #fff;
}

.CollapsiblePanelFocused .CollapsiblePanelTab {
	//background-color: #fff;
}

.searchAdForm {
  height: auto;
  margin: 10px auto;
  overflow: hidden;
  width: 678px;
}

.searchAdForm .row {
  clear: both;
  color: #7e7e7e;
  font-size: 16px;
  height: auto;
  margin: 35px auto;
  overflow: hidden;
  width: 100%;
}

.searchAdForm .td1 {
  display: block;
  float: left;
  height: 42px;
  line-height: 42px;
  text-align: left;
  width: 102px;
}

.searchAdForm .td2 {
  display: block;
  float: left;
  height: auto;
  line-height: 42px;
  min-height: 42px;
  overflow: visible;
  width: 512px;
}

.searchAdForm .keyword, .searchAdForm .author {
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  color: #7e7e7e;
  display: block;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  text-indent: 18px;
  width: 510px;
}

.searchAdForm .radio, .searchAdForm .select, .searchAdForm .checkbox {
  cursor: pointer;
  display: block;
  float: left;
  height: 42px;
  line-height: 42px;
  margin-right: 25px;
  white-space: nowrap;
}

.searchAdForm .td2 button {
  background: #32a5e7 none repeat scroll 0 0;
  border: medium none;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 18px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  cursor: pointer;
  width: 102px;
}

.result {
  background: #fff none repeat scroll 0 0;
  display: block;
  height: auto;
  margin: 50px auto 32px;
  overflow: hidden;
  padding: 20px 30px;
  width: 900px;
}

.result .resultTips {
  font-size: 16px;
  line-height: 16px;
  text-align: left;
}

.rlt_table {
  margin: 32px auto 0;
}

.rlt_thead .rlt_tr {
  border-top: medium none;
}

.rlt_table .rlt_tr {
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #fafafa;
  clear: both;
  height: auto;
  overflow: hidden;
  width: 100%;
}

.rlt_thead .rlt_th {
  color: #2b2b2b;
}

.rlt_table .rlt_th {
  float: left;
  font-size: 16px;
  height: 48px;
  line-height: 48px;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rlt_table .rlt_title {
  text-align: left;
  text-indent: 18px;
  width: 350px;
}

.rlt_table .rlt_module {
  width: 100px;
}

.rlt_table .rlt_author {
  width: 145px;
}

.rlt_table .rlt_complex {
  width: 115px;
}

.rlt_table .rlt_lastUpdate {
  width: 140px;
}

.rlt_tbody .rlt_tr:last-child {
  border-bottom: medium none;
}

.rlt_tbody .rlt_module a, .rlt_tbody .rlt_author a {
  color: #32a5e7;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.rlt_table .rlt_content {
  clear: both;
  height: auto;
  line-height: 24px;
  margin-bottom: 24px;
  overflow: hidden;
  overflow-wrap: break-word;
  padding: 0 18px;
  text-align: left;
  white-space: normal;
  word-break: break-all;
}

#kkpages {
  width: 900px;
}

#kkpager_btn_go_input {
  height: 24px;
}

#kkpager .pageBtnWrap {
  float: right;
}


