<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ifxcode.bbs.dao.BoardDao">
	
	<cache type="cn.ifxcode.bbs.dao.cache.LoggingRedisCache"/>
	
	<select id="getBoardsByNavId" resultType="Board">
		select * from bbs_board where board_status = 0 
			and nav_id = #{navId}
		order by board_sort asc
	</select>
	
	<select id="getBoardId" resultType="Integer">
		select board_id from bbs_board where board_status = 0 
	</select>
	
	<select id="getAllBoard" parameterType="map" resultType="Board">
		select * from bbs_board where 1 = 1 
		<if test="starttime != null">
			<![CDATA[ and DATE_FORMAT(board_create_time, '%Y-%m-%d') >= #{starttime} ]]>
		</if>
		<if test="endtime != null">
			<![CDATA[ and DATE_FORMAT(board_create_time, '%Y-%m-%d') <= #{endtime} ]]>
		</if>
		<if test="bid != null">
			and board_id = #{bid}
		</if>
		<if test="name != null">
			and board_name like #{name} 
		</if>
		<if test="status != null">
			and board_status = status 
		</if>
		<if test="navId != null">
			and nav_id = #{navId} 
		</if>
		<if test="isOpen != null">
			and board_is_open = #{isOpen} 
		</if>
		<if test="access != null">
			and is_access = #{access} 
		</if>
		ORDER BY nav_id, board_sort
	</select>
	
</mapper>