<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ifxcode.bbs.dao.FriendLinkDao">
	
	<cache type="cn.ifxcode.bbs.dao.cache.LoggingRedisCache"/>
	
	<select id="getAllFriendLinks" resultType="FriendLink">
		<![CDATA[ select * from friend_link where link_status = 1 and link_end_time >= NOW() ]]>
	</select>
	
	<insert id="insert" parameterType="FriendLink">
		insert into friend_link (link_name, link, link_sign, link_status, link_contacts, link_create_time, link_end_time) 
		values (#{linkName}, #{link}, #{linkSign}, #{linkStatus}, #{linkContacts}, #{linkCreateTime}, #{linkEndTime})
	</insert>

</mapper>