<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ifxcode.bbs.dao.GeneralDao">
	
	<select id="getAllArea" resultType="SwfArea">
		select * from swf_area
	</select>
	
	<insert id="insertGoldHistory" parameterType="GoldHistory">
		insert into gold_history (user_id, nickname, gold_value, gold_from, gold_desc, create_time)
		values(#{userId}, #{nickname}, #{goldValue}, #{goldFrom}, #{goldDesc}, #{createTime})
	</insert>
	
	<insert id="insertExperienceHistory" parameterType="ExperienceHistory">
		insert into experience_history (user_id, nickname, exp_value, exp_desc, create_time)
		values(#{userId}, #{nickname}, #{expValue}, #{expDesc}, #{createTime})
	</insert>
	
	<select id="getAllGoldHistory" parameterType="map" resultType="GoldHistory">
		SELECT user_id, nickname FROM gold_history where 1 = 1 
		<if test="uid != null">
			and user_id = #{uid}
		</if>
		GROUP BY user_id ORDER BY user_id
	</select>
	
	<select id="getUserGoldsByUid" parameterType="map" resultType="GoldHistory">
		SELECT user_id, nickname, gold_value, gold_desc, create_time FROM gold_history where user_id = #{uid} 
		<if test="starttime != null">
			<![CDATA[ and DATE_FORMAT(create_time, '%Y-%m-%d') >= #{starttime} ]]>
		</if>
		<if test="endtime != null">
			<![CDATA[ and DATE_FORMAT(create_time, '%Y-%m-%d') <= #{endtime} ]]>
		</if>
		ORDER BY create_time desc
	</select>
	
	<select id="getAllExps" parameterType="map" resultType="ExperienceHistory">
		SELECT user_id, nickname FROM experience_history where 1 = 1 
		<if test="uid != null">
			and user_id = #{uid}
		</if>
		GROUP BY user_id ORDER BY user_id
	</select>
	
	<select id="getUserExpsByUid" parameterType="map" resultType="ExperienceHistory">
		SELECT * FROM experience_history where user_id = #{uid} 
		<if test="starttime != null">
			<![CDATA[ and DATE_FORMAT(create_time, '%Y-%m-%d') >= #{starttime} ]]>
		</if>
		<if test="endtime != null">
			<![CDATA[ and DATE_FORMAT(create_time, '%Y-%m-%d') <= #{endtime} ]]>
		</if>
		ORDER BY create_time desc
	</select>
	
	<insert id="insertTodayCount" parameterType="map">
		insert into bbs_count (time, topic_count, reply_count, user_sign_count, newuser_count) 
		values (#{time}, #{topic}, #{reply}, #{usersign}, #{newuser})
	</insert>
</mapper>