<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ifxcode.bbs.dao.HomeImageDao">

	<cache type="cn.ifxcode.bbs.dao.cache.LoggingRedisCache"/>
	
	<select id="getHomeImages" resultType="HomeImage">
		select * from bbs_home_image where home_status = 0 order by home_sort asc
	</select>
	
	<select id="searchImages" resultType="HomeImage">
		select * from bbs_home_image order by home_status asc, home_sort asc
	</select>
	
	<insert id="insert" parameterType="HomeImage">
		insert into bbs_home_image (home_title, home_link, home_img_link, turn_way, home_sort, home_status, home_create_time) 
		values(#{homeTitle}, #{homeLink}, #{homeImgLink}, #{turnWay}, #{homeSort}, #{homeStatus}, #{homeCreateTime})
	</insert>
	
	<select id="get" resultType="HomeImage">
		select * from bbs_home_image where id = #{id}
	</select>
	
	<update id="update" parameterType="HomeImage">
		update bbs_home_image set home_title = #{homeTitle}, home_link = #{homeLink}, 
		home_img_link = #{homeImgLink}, turn_way = #{turnWay}, home_sort = #{homeSort}, home_status = #{homeStatus} 
		where id = #{id}
	</update>
	
	<update id="delete" parameterType="map">
		update bbs_home_image set home_status = 1 where id in 
		<foreach collection="imgIds" index="index" item="imgId" open="(" separator="," close=")">  
           	#{imgId}   
   		</foreach>
	</update>

</mapper>