<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ifxcode.bbs.dao.NavigationDao">
	
	<select id="getAllNavigations" resultType="Navigation">
		select * from bbs_navigation where nav_status = 0 order by nav_sort asc
	</select>
	
</mapper>