<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ifxcode.bbs.dao.PastHistoryDao">

	<cache type="cn.ifxcode.bbs.dao.cache.LoggingRedisCache"/>

	<insert id="insertPastHistory" parameterType="PastHistory">
		insert into past_history (
			user_id, nickname, ip, past_time) 
		values (
			#{userId}, #{nickname}, #{ip}, #{pastTime}
		)
	</insert>
	
	<select id="getAllHistory" parameterType="map" resultType="PastHistory">
		SELECT * FROM (select user_id, nickname, past_time, ip from past_history where 1 = 1 
		<if test="uid != null">
			and user_id = #{uid} 
		</if>
		order by past_time desc) AS t GROUP BY user_id
	</select>
	
	<select id="getUserSignsByUid" parameterType="map" resultType="PastHistory">
		select user_id, nickname, past_time, ip from past_history where user_id = #{uid} 
		<if test="starttime != null">
			<![CDATA[ and DATE_FORMAT(past_time, '%Y-%m-%d') >= #{starttime} ]]>
		</if>
		<if test="endtime != null">
			<![CDATA[ and DATE_FORMAT(past_time, '%Y-%m-%d') <= #{endtime} ]]>
		</if>
		order by past_time desc
	</select>

</mapper>