<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ifxcode.bbs.dao.ReplyDao">

	<cache type="cn.ifxcode.bbs.dao.cache.LoggingRedisCache"/>
	
	<select id="getReplyListByTopicId" resultType="Reply">
		SELECT * FROM bbs_reply WHERE topic_id = #{topicId} 
		<if test="userId != null">
			and user_id = #{userId} 
		</if>
		ORDER BY reply_create_time ${sort}
	</select>
	
	<insert id="insertReply" useGeneratedKeys="true" keyProperty="replyId" parameterType="Reply">
		insert into bbs_reply (user_id, topic_id, board_id, reply_parent_id, reply_content, 
			reply_is_check, reply_status, reply_update_user_id, reply_update_user, 
			reply_update_time, reply_create_time, reply_ip, del_reason)
		values (#{userId}, #{topicId}, #{boardId}, #{replyParentId}, #{replyContent}, #{replyIsCheck}, 
			#{replyStatus}, #{replyUpdateUserId}, #{replyUpdateUser}, #{replyUpdateTime}, 
			#{replyCreateTime}, #{replyIp}, #{delReason})
	</insert>
	
	<select id="getReplyByPid" resultType="Reply">
		SELECT * FROM bbs_reply WHERE reply_id = #{replyParentId} 
	</select>
	
	<select id="getCount" resultType="Integer">
		select count(1) from bbs_reply where topic_id = #{tid}
	</select>
	
	<select id="getReplyListByUserId" resultType="Reply">
		select reply_id, user_id, topic_id, board_id, reply_parent_id, reply_content 
		from bbs_reply where user_id = #{uid} and reply_status = 0 
		order by reply_create_time desc
	</select>
	
	<select id="getReplyList" resultType="Reply">
		select * from bbs_reply where reply_status = #{status} and reply_is_check = #{audit} 
		<if test="uid != null">
		 and user_id = #{uid} 
		</if>
		<if test="tid != null">
		 and topic_id = #{tid} 
		</if>
		<if test="bid != null">
		 and board_id = #{bid} 
		</if>
		<if test="starttime != null">
			<![CDATA[ and DATE_FORMAT(reply_create_time, '%Y-%m-%d') >= #{starttime} ]]>
		</if>
		<if test="endtime != null">
			<![CDATA[ and DATE_FORMAT(reply_create_time, '%Y-%m-%d') <= #{endtime} ]]>
		</if>
		order by reply_create_time desc
	</select>
	
	<select id="getReplyListForTrash" resultType="Reply">
		select * from bbs_reply where (reply_status = #{status} or reply_is_check = #{audit}) 
		<if test="uid != null">
		 and user_id = #{uid} 
		</if>
		<if test="tid != null">
		 and topic_id = #{tid} 
		</if>
		<if test="bid != null">
		 and board_id = #{bid} 
		</if>
		<if test="starttime != null">
			<![CDATA[ and DATE_FORMAT(reply_create_time, '%Y-%m-%d') >= #{starttime} ]]>
		</if>
		<if test="endtime != null">
			<![CDATA[ and DATE_FORMAT(reply_create_time, '%Y-%m-%d') <= #{endtime} ]]>
		</if>
		order by reply_create_time desc
	</select>
	
	<select id="getReplyByReplyId" resultType="Reply">
		select reply_id, user_id, topic_id, board_id, reply_parent_id, reply_content from bbs_reply where reply_id = #{replyId}
	</select>
	
	<update id="delete" parameterType="map">
		update bbs_reply set reply_status = 1, del_reason = #{reason} where reply_id in 
		<foreach collection="rids" index="index" item="rid" open="(" separator="," close=")">
			#{rid}
		</foreach>
	</update>
	
	<update id="updateReply">
		update bbs_reply set reply_content = #{content} where reply_id = #{id}
	</update>
	
	<update id="restore" parameterType="map">
		update bbs_reply set reply_status = 0 and reply_is_check = 1 where reply_id in 
		<foreach collection="replyIds" index="index" item="replyId" open="(" separator="," close=")">
			#{replyId}
		</foreach>
	</update>
	
	<update id="execAudit" parameterType="map">
		update bbs_reply set reply_is_check = #{check} where reply_status = 0 and reply_id in 
		<foreach collection="replyIds" index="index" item="replyId" open="(" separator="," close=")">
			#{replyId}
		</foreach>
	</update>
	
</mapper>