<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ifxcode.bbs.dao.TopicInfoDao">

	<cache type="cn.ifxcode.bbs.dao.cache.LoggingRedisCache"/>
	
	<insert id="insert">
		insert into bbs_topic_info (topic_id, topic_is_check, topic_is_home, topic_is_home_end_time, 
			topic_is_reply, topic_is_local_top, topic_is_local_top_end_time, topic_is_global_top, 
			topic_is_global_top_end_time, topic_is_hot, topic_is_cream)
		values (#{topicId}, #{topicIsCheck}, #{topicIsHome}, #{topicIsHomeEndTime}, 
			#{topicIsReply}, #{topicIsLocalTop}, #{topicIsLocalTopEndTime}, #{topicIsGlobalTop}, 
			#{topicIsGlobalTopEndTime}, #{topicIsHot}, #{topicIsCream})
	</insert>
	
	<update id="update">
		update bbs_topic_info set topic_is_check = #{topicIsCheck}, topic_is_home = #{topicIsHome}, topic_is_home_end_time = #{topicIsHomeEndTime}, 
			topic_is_reply = #{topicIsReply}, topic_is_local_top = #{topicIsLocalTop}, 
			topic_is_local_top_end_time = #{topicIsLocalTopEndTime}, topic_is_global_top = #{topicIsGlobalTop}, 
			topic_is_global_top_end_time = #{topicIsGlobalTopEndTime}, topic_is_hot = #{topicIsHot}, topic_is_cream = #{topicIsCream} 
		where topic_id = #{topicId}
	</update>
	
	<update id="updateHomeTopicTime">
		update bbs_topic_info set topic_is_home_end_time = #{time} where topic_id = #{tid} and topic_is_home = 1
	</update>
	
	<update id="cancelHomeTopic">
		update bbs_topic_info set topic_is_home = 0 and topic_is_home_end_time = null where topic_id in 
		<foreach collection="topicIds" index="index" item="tid" open="(" separator="," close=")">  
           	#{tid}   
   		</foreach>
	</update>
</mapper>