<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ifxcode.bbs.dao.UserFavoriteDao">

	<cache type="cn.ifxcode.bbs.dao.cache.LoggingRedisCache"/>

	<select id="vaildFavorite" resultType="Integer" useCache="false">
		select count(1) from user_favorite where user_id = #{userId} and need_id1 = #{needId1} and need_id2 = #{needId2} and fav_sign = #{sign}
	</select>

	<insert id="insert" keyProperty="favId" parameterType="UserFavorite">
		insert into user_favorite (user_id, need_id1, need_id2, fav_sign, fav_name, create_time, fav_ip)  
		values (#{userId}, #{needId1}, #{needId2}, #{favSign}, #{favName}, #{createTime}, #{favIp})
	</insert>
	
	<delete id="cancelFavorite" parameterType="map">
		delete from user_favorite where fav_id in 
		<foreach collection="favIds" index="index" item="favId" open="(" separator="," close=")">  
           	#{favId}   
   		</foreach>
	</delete>
	
	<select id="getAllFavorites" resultType="UserFavorite">
		select * from user_favorite where user_id = #{userId} and fav_sign = #{type} order by create_time desc
	</select>
</mapper>